.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.application-fill {
  fill: fb-cyan;
}
.app-gradient-background {
  fill: fb-blue;
}
.foreground-fill {
  fill: fb-white;
}
.background-fill {
  fill: fb-black;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.list-item {
  height: 112;
}

.list-item text {
  fill: 'white';
  x: 50%;
  text-anchor: middle;
  font-size: 24;
}

.line {
  height: 6;
  width: 100%;
  fill: #222222;
  y: 100%-6;
}

.bg {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  /* fill: white; */
}
.touch {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
